
#imgSalida2
{
  width: 80%;
  border-radius: 5px;
  margin-left: 10%;
}


.sep{

position relative;
height: 150px;

}

.supSide
{
  position: absolute;
  left: 47%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}
.circle {
    width: 125px;
    height: 125px;
    top: 10px;
    display: inline-block;
    margin-left: 0px;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;

}
.circle:hover
{
  cursor: pointer;
}

.cuadroPerfilSup
{

  background: #338537;
  background: -moz-linear-gradient(-45deg, #338537 0%, #60b24c 51%, #d8c431 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #338537), color-stop(51%, #60b24c), color-stop(100%, #d8c431));
  background: -webkit-linear-gradient(-45deg, #338537 0%, #60b24c 51%, #d8c431 100%);
  background: -o-linear-gradient(-45deg, #338537 0%, #60b24c 51%, #d8c431 100%);
  background: -ms-linear-gradient(-45deg, #338537 0%, #60b24c 51%, #d8c431 100%);
  background: linear-gradient(135deg, #338537 0%, #60b24c 51%, #d8c431 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338537', endColorstr='#d8c431', GradientType=1 );
  width: 85%;
  height: 112px;
  z-index: -1;
  border-radius: 30px;
  margin-top: 15px;

  position: relative;
  margin-left: 70px;
  display: inline-block;
}
.eng
{
  color: white;
  position: relative;
  margin-top: 12px;
  margin-left: 60px;
  font-size: 23px;
  display: inline-block;
}

#content{
  display: inline-block;
  width: 280px;
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: -40px;
  border-radius: 10px;
  overflow: hidden;
  height: 80%;
  font-size: 18px;

}
.nombre{
height: auto;
text-align:right;
overflow: hidden;
margin-left: 15%;
}
.correo
{
  overflow: hidden;
  height: 40px;
  text-align:right;
  overflow: hidden;

}

@media(max-width: 767px)
{
  .sep
  {
    display: none;
  }
}
