th,td{
    text-align: center;
}
.descripcion{
  text-align: justify;
  color: black;

}
table{
  margin: 0px !important;
    border-spacing: 0;
    display: flex;/*Se ajuste dinamicamente al tamano del dispositivo**/
    max-height:80vh; /*El alto que necesitemos**/
    overflow-y: auto; /**El scroll verticalmente cuando sea necesario*/
    overflow-x: hidden;/*Sin scroll horizontal*/
    table-layout: fixed;/**Forzamos a que las filas tenga el mismo ancho**/
}
thead{
    position: absolute !important;/*el thead va ser siempre estatico**/
    z-index: 1049;
    margin-top: -1px;
}
.table-width-no-border{
  max-width: 78vw;
}
thead tr th{
  font-size: 13px;
  font-weight: bold;
}
th,td{
    font-weight: normal;
    margin: 0;
    max-width: 19vw; /**Ancho por celda*/
    min-width: 19vw;/**Ancho por celda*/
    word-wrap: break-word;/*Si el contenido supera el tamano, adiciona a una nueve linea**/
    font-size: 14px;
    height: 4.5vh !important;/*El mismo alto para todas las celdas**/
    padding: 4px;
    border-right: 1px solid #c4c0c9;
} 
tbody{
  margin-top: 4%;
}

.card{
  width: 25%;
  height: 240px;
  text-align: center;
  border: 3px solid gray;
  border-radius: 10px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.title{
  margin-left: 5%;
  margin-right: 5%;
  color: #000;
  font-family: fantasy;
  display: block;
  text-align: center;
  height: auto;
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.53), 0 9px 17px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: rgba(255,255,255,.88);
}
.card-desc{
  margin-left: 5%;
  margin-right: 5%;
  color: #000;
  display: block;
  text-align: center;
  height: auto;
  max-height: 138px;
  position: relative;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.53), 0 9px 17px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: rgba(255,255,255,.72);
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1220px ) {
  tbody{
    margin-top:3%;
  }
}
   @media screen and (min-width: 1300px ) {
  .table-width-no-border{
    max-width: 85vw;
  }
  th, td{
    max-width: 20.8vw;
    min-width: 20.8vw;
  }
  table{
    overflow-x: auto;
  }
}

@media screen and (max-width:991px) and (min-width:768px)  {
  .card{
    width: 35%;
    display: inline-grid;
  }
  tbody {
    margin-top: 6%;
}
}

@media screen and (max-width: 767px){
  .container{
    margin-left: 0px;
    margin-top: 92px !important; 
    width: 100% !important;
    padding-left: 7px;
    padding-right: 7px;
  }
  .col-md-11{
    margin-right: -14%;
  }
  .card{
    width: 41%;
    display: inline-grid;
  }
  .descripcion{
    text-overflow: ellipsis;
    overflow-x: auto;
    word-wrap: break-word;
    white-space: nowrap;
  }
  tbody{
    margin-top: 9vw;
  }
  .table-width-no-border{
    max-width: 100vw;
  }
  th,td{
    max-width: 26vw;
    min-width: 23vw;
  }
  table{    
    width: 105% !important;
    max-width: 105% !important;
  }
  tbody td:nth-child(2){
    max-width: 23vw;
  }
  thead th:nth-child(3){
    max-width: 26vw;
    min-width: 26vw;
  }
}
