hr{
    border-top: 2px solid #c62828;
}
.container{
	width: 100%;
}
#numPregSig{
	width: 45px;
}
.titleQuestionModal{
	margin-left: 22px;
	width: 54%;
}
.btn-control{
	margin-bottom: 15px;
}
.salto{
	width: 16% !important;
}
.type{
	width: 17% !important;
}
.text-question{
	width: 42%;
}
.well{
	margin-bottom: 11px !important;
}
#questionSaved{
	 overflow-x: hidden;
	 overflow-y: auto;
	 height: auto;
	 max-height: 50rem;
	 position: relative;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	 padding: 1px 10px 0px 5px;
	 margin: 0px 15px 0px 258px;
}
.new-question__control--edit-question{
	/* box-shadow: 3px 3px 3px #174340; */
    width: 46px;
    height: 43px;
}
.delete-question__control--delete-question{
	/* box-shadow: 3px 3px 3px #de0000; */
    margin-left: 10px;
    width: 42px;
    height: 43px;
}
.new-survey__control, #sortableQuestions{
	margin-bottom: 15px;
	border-radius: 50px;
	width: 100%;
	height:  46px;
    background: -webkit-linear-gradient(top left, #1a237e, #0d47a1);
    background: -o-linear-gradient(top left, #1a237e, #0d47a1);
    background: linear-gradient(to bottom right, #1a237e, #0d47a1);
}
.new-survey__controls{
    display: block;
}
.num{
	margin-left: -22px;
	margin-right: 20px;
}
.numPregs{
	width: 42px;
}
.icon-mobile{
  float: left;
  margin: 2px 9px 0px 14px;
}

@media screen and (max-width: 1220px) {
	.col-desc{
	float: right;
    margin-right: 6%;
    width: 63%;
	}
	.new-survey__control, #sortableQuestions{
		font-size: 13px;
	}
}

@media screen and (max-width: 1098px) {
	.num{
		width: 9.799%;
	}
	#questionSaved{
		margin-left: 180px !important;
	}
	.new-survey__control, #sortableQuestions{
		font-size: 11px;
	}
	.text-question{
		width: 44%;
	}
	.new-question__control{
		margin-right: 0px;
	}
	#inputDesc{
		margin-top: -4%;
	}
	.btn-control{
		width: 100px;
	}
}
@media screen and (min-width: 767px) and (max-width: 991px) {
	.col-desc{
	margin-top: 1%;
    width: 90%;
    float: inherit;
    margin-left: 7%;
	}
	.new-survey__control, #sortableQuestions{
		font-size: 14px;
		width: 48%;
	}
	#questionSaved{
		margin-left: 15px !important;
	}
	.light-grey{
		margin-top: 90px;
		margin-bottom: -75px;
	}
	.img-thumbnail{
		width: 150px;
		max-width: 150px;
		height: 150px;
		max-height: 150px;
		float: left;
	    margin-top: -65px;
	    margin-left: -2%;
	}
	.col-img{
		margin-top: 0px;
	}
	#inputDesc{
	width: 73%;
    margin-left: 24%;

	}
	.num, .text-question{
		width: 100%;
	}
}


@media screen and (max-width: 767px) {
	#sidebar{
	    box-shadow: 3px 10px 8px #fff;
	}
	.container{
	   padding:0; margin:0;
	   width: 100%;
	   margin-top: 70px;
	}
	.col-img, .col-desc{
		display: none;
	}
	#questionSaved{
		margin-left: 15px !important;
	}
	.btn-editTitle {
		margin-left: 10%;
		width: 57px;
		height: 60px;
		font-size: 35px;
	}
	.btn-preview{
		margin-left: 35%;
		width: 57px;
		height: 60px;
		font-size: 35px;
	}
	.new-survey__control{
		margin-top: 3%;
		margin-left: 25%;
		width: 50px;
		height: 50px;
	 	font-size: 20px;

	}
	.new-survey__control label, #sortableQuestions label{
		display: none;
	}
	 .new-survey__controls{
	 	margin-bottom: 4%;
	 }
	 #sortableQuestions{
	 	margin-top: 3%;
		margin-left: 10%;
		width: 50px;
		height: 50px;
	 	font-size: 20px;
	 }
	 .num{
		width: 40%;
		margin: 0px 7px 0px 0px;
		padding: 0px;
		float: left;
	 }

	 .text-question{
	    width: 60% !important;
	    margin: 0px 7px 0px 0px;
	    padding: 0px;
    	float: right;
    	margin-left: -33px;
	 }
	 .type{
		width: 50% !important;
		margin: 0px;
		padding: 0px;
		float: left;
	 }
	 .salto{
	 	width:40% !important;
	 	float:right;
 	    padding-right: 2%;
	 }
	 .btn-control{
	 	width: 104px;
	 	margin-right: 3%;
	 }
	 .titleQuestionModal{
	 	width: 100%;
	 	margin-left: 0px;
	 }
	 #numPregSig{
	 	width: 100%;
	 }
	 .opcionesRespon{
	 	width: 70%;
	 	float: left;
	 	margin-left: -15px;
	 }
	 .selectRespon{
	 	width: 30%;
	 	float: right !important;
	 }
   .icon-mobile{
     float: none;
     margin: 0px;
   }
}
