	.top{
		margin-top: 1%;
	}

	.pad{
		padding-right: 5%;
		padding-left: 5%;
	}
	.parrafo{
		margin-top: 5%;
		font-size: 50;
		color: black;
	}
	.fondo{
		background-color: #ECEAE6;
	}

	@media screen and (max-width: 700px) {
	.top{
		margin-top: 30%;
		margin-left: 5%;

	}
	.marge{
		margin-left: 5px;
		padding-left: 1%;

	}
}

	@media screen and (max-width: 500px) {
	.top{
		margin-top: 30%;
		margin-left: 10%;

	}
	.marge{
		margin-left: 5px;
		padding-left: 1%;
	}
}
	@media screen and (max-width: 300px) {
	.top{
		margin-top: 30%;
		margin-left: 10%;

	}
	.marge{
		margin-right: 10%;
		padding-left: 1%;
	}
	}