.img_UVM_logo{
	margin-top: 6%;
}
.text-black{
	color: #000;
}
.form-control{
	border-radius: 45px;
	height: 45px;
	border: 1px solid black;
	width: 420px;
	margin-left: 27%;

}
label{
	font-size: 19px;
    font-weight: normal;
}
.img_Por_ti_logo{
	margin-right: 20%;
	margin-top: 2%
	height: 200px;
	width:280px;
}

.btn-primary{
	width: 60%;
    height: 80px;
    border-radius: 10px;
    background-color: #fc0404;
    font-weight: bold;
    font-size: 29px;
    margin-top: 17%;
    margin-left: 75%
}
@media screen and (max-width: 592px){
	.contenedor{
		background: -webkit-linear-gradient(#757575, #000 );
		background: -o-linear-gradient(#757575, #000 );
		background: linear-gradient(#757575, #000 );
	    width: 100%;
	    height: 100%;
	    position: absolute;
	}
	.img_UVM_logo{
		content:url("/img/logos/UVM_Logo_Blanco.png");	
		margin-top: 11%;
		width: 100%;
		height: 23%;
	}
	label, .img_Por_ti_logo{
		display: none;
	}
	.form-control{
		width: 100%;
		margin: 0px;
		border: 1px solid white;
		background-color: transparent;
		font-size: 20px;
		color: white;
	}
	.btn-primary{
		margin-left: 0px;
		width: 100%;
		border-radius: 62px;
		margin-top: 25%
	}
	.form-control::placeholder {
		color: white;
	}
	.form-control:focus{
		border-color: white;
	}
	.form-group{
	   padding:0; margin:0;

	}

}
