#imgC
{
  height: 200px;
  width: 100%;
}

#imgSalida
{
margin-left: 10%;
margin-right: 10%;
margin-top: 10%;

max-width: 80%;
max-height: 80%;

border-radius: 5px;
}

#previewcanvascontainer, #previewcanvas
{
  margin-left: 10%;
  margin-right: 10%;
}
#aPlantilla
{
  width: 100%;
}

td
{

}


#foto1
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#nombre{
  width: 100%;
  height: 100%;
  margin-top: -4px;
  border-radius: 4px;
  position: relative;
}


.container
{
  width: 100%;
}
.descGeneral{
  left: 37%;
  position:absolute;
  width: 43%;
  margin-top:180px;
}

.sep{

position relative;
height: 150px;

}
.cuadro
{
  position: relative;
  display: inline-block;
  margin-top: -50px;
  height:auto;
  width: 100%;
  margin-left: 2px;
}

.activa{

width: auto;
margin-right: 47px;
display: inline-block;
}

.finalizada
{
  display: inline-block;

  width: auto;
}

.redes
{

display: inline-block;
position: relative;
height: auto;
width: 140px;
margin-top: 3px;
}
.let
{
  margin-top: 10px;

    display: inline-block;
    width: 60%;
    float: right;

}
.btnOcultar
{

  display: inline-block;
  margin-left: 12px;
}
#btn-añadir
{
  width: 240px;
  height: 240px;

  background: rgba(37,66,118,1);
background: -moz-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(37,66,118,1)), color-stop(51%, rgba(42,76,135,1)), color-stop(100%, rgba(47,85,151,1)));
background: -webkit-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: -o-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: linear-gradient(135deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#254276', endColorstr='#2f5597', GradientType=1 );

-moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;

margin-bottom: 20px;
margin-left: 1%;
margin-top: 1%;
margin-right: 0;

display: inline-block;
-webkit-box-shadow: -2px 3px 33px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 33px -3px rgba(0,0,0,0.75);
box-shadow: -2px 3px 33px -3px rgba(0,0,0,0.75);

position: relative;

}
#btn-añadir:hover
{
  cursor: pointer;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/load/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

#procesando {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/load/procesando.gif') 50% 50% no-repeat rgba(249,249,249,0.5);
    opacity: .8;
    display: none;
}

#icono
{
  width: 100px;
  height: 100px;
}

#content-btn
{
  margin-top: 41%;
  margin-left: -12px;
width: 240px;

font-size: 50px;
text-align: center;
color: #fff;
}
/*
.card
{
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 2%;
  padding-left: 0px;
  margin-top: 1%;
  padding-top: 0.5%;
  background-color: #DFDCE3;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid gray;

}*/
.card2
{
width: 230px;
height: 240px;

max-height: 240px;
min-height: 240px;

text-align: center;
border: 3px solid gray;
border-radius: 10px;
margin-left: 30px;
margin-bottom: 2%;
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
}

#crearPlantilla
{
width: 100%;
color: #fff;
position: relative;
text-align: center;
margin-top: -15%;

}

#marco
{
margin-top: 0%;
border-radius: 2px;
width: 100%;
height: auto;
border-radius: 33px 33px 33px 33px;
-moz-border-radius: 33px 33px 33px 33px;
-webkit-border-radius: 33px 33px 33px 33px;
}
.pub-icon
{
width: 100%;
height: 135px;


}
.creador
{
width: 80%;
height: 30%;
text-align: center;
  color: #000;
font-family: fantasy;
}

.card
{
background-position: center;
background-repeat: no-repeat;
background-size: contain;
display: inline-block;
width: 240px;
height: 240px;
border-radius: 3px;
margin-left: 1%;
margin-bottom: 2%;
padding-left: 0px;
background-color: #DFDCE3;
margin-top: 1%;
padding-top: 0.5%;
}

#btn_edit,#btn_prev,#btn_delete, #btn_pub, #btn_dup{
text-align: center;
background-color: rgba(0, 0, 0, 0.6);
opacity: 0.7;
height:  14%;
width: 14%;
border-radius: 5px;
margin-left: 4%;
margin-top: 1%;

}

.ic
{

vertical-align: top;
height: 100%;
margin-left: -6px;
width: 100%;
color: #fff;
}



/*
#btn_edit #btn_prev #btn_delete #btn_pub #btn_dup{
text-align: center;
background-color: black;

height:  14%;
width: 14%;

border-radius: 5px;
display: inline-block;

margin-left: 4%;
margin-top: 1%;

background-color: black;


}*/






/*Botones de encustas publicadas */
#btn_prevPub, #btn_rec
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  height:  14%;
  width: 14%;
  border-radius: 5px;
  margin-left: 4%;
  margin-top: 1%;
}
#title
{

  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
word-break: break-all;
word-wrap: break-word;
position: relative;
text-align: center;
}
#ver
{
width: 100%;
height: 22%;
background-color: rgba(0,0,0,0.6);
margin-top: 63%;
    border-radius: 3px;
position: absolute;
}
#ver2
{
  width: 80%;
  height: 30px;
opacity: 0.5;
background-color: white;
margin-top: 10px;
margin-left: 10%;
position: absolute;
}



.scroll{
width: 90%;
height: 400px;
overflow-y: scroll;
}


#btnO:hover
{

cursor: pointer;
}
#btnOp:hover
{
  cursor: pointer;
}
#divisor
{
margin-left: 200px;
margin-top: -15px;
position: relative;
}


#publicadas
{
  width: 400px;
}
#pBody
{
  width: 100%;
}

#pPBody
{
  width: 100%;
}
.CCperfil
{
  position: absolute;
  margin-left: 50%;
}
.CCperfil
{
  width: 400px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
box-shadow: 0 0 15px #ddd;
position: relative;
display: inline-block;
color: #fff;
}
.Cperfil
{
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-left: 10px;
  border-radius: 10px;
box-shadow: 0 0 15px #ddd;
background:rgb(0,0,255);
position: relative;
display: inline-block;
color: #fff;
}
.cuadroPerfilSup
{

  background: rgba(37,66,118,1);
  background: -moz-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(37,66,118,1)), color-stop(51%, rgba(42,76,135,1)), color-stop(100%, rgba(47,85,151,1)));
  background: -webkit-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: linear-gradient(135deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#254276', endColorstr='#2f5597', GradientType=1 );
  width: 85%;
  height: 112px;
  z-index: -1;
  border-radius: 30px;
  margin-top: 15px;

  position: relative;
  margin-left: 70px;
  display: inline-block;
}
.eng
{
  color: white;
  position: relative;
  margin-top: 20px;
  display: inline-grid;
  margin-left: 60px;
  font-size: 23px;
  display: inline-block;
}
#content{
  display: inline-block;
  width: 280px;
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: -40px;
  border-radius: 10px;
  overflow: hidden;
  height: 80%;
  font-size: 18px;

}
.nombre{
height: 40px;
text-align:right;
overflow: hidden;
}
.correo
{
  overflow: hidden;
  height: 40px;
  text-align:right;
  overflow: hidden;

}
.circle {
    width: 125px;
    height: 125px;
    top: 10px;
    display: inline-block;
    margin-left: 0px;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;

}
.circle:hover
{
  cursor: pointer;
}
.supSide
{
  position: absolute;
  left: 47%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

#texto
{
width: 200px;
overflow: hidden;
  color: #fff;
  margin-left: 90px;

}
#actualizar
{
width: 100%
}



#hTable
{
  width: 100%;
}

#hTable th
{
  text-align: center;

}
#hTable td
{
text-align: right;
padding-right: 15px;

}

#hTable2
{
  width: 100%;
}
#hTable2 th
{
  text-align: center;

}

#hTable2 td
{
text-align: right;
padding-right: 15px;

}

/*############################################################# Media querys##################################### */
@media(max-width: 1125px)
{
  #btn-añadir
  {
width: 40%;
height: 130px;
 border-radius: 100px 100px 100px 100px;
margin-left: 30%;
    }
  #actualizar
  {

    width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  }
  .card
  {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  }

  #content-btn
  {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #recibiendo
  {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #ver{
    margin-top: 155px;
    margin-bottom: 2%;

  }
}

@media(max-width: 865px)
{
#tamañoLet
{
  font-size: 20px;
}

}

@media(max-width: 850px)
{
  #btnT
  {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

  }

#btn-añadir
{
width: 70%;
margin-left: 15%;
margin-right: 15%;
}

  .card
  {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

}

@media(max-width: 768px)
{
.sep
{
  display: none;
}
#panel1
{
  margin-top: 110px;

}
.container
{
  margin-left: 0;
}

#content-btn
{
  margin-left: -100px;
  margin-top: 30px;
}
#tamañoLet{
  font-size: 35px;
}
#crearPlantilla
{
margin-top: -86px;
margin-left: 20px;

}
.descGeneral{
  width: 90%;
  left: 5%;
}
}

@media(max-width: 630px)
{
#tamañoLet
{
  font-size: 30px;
}
#content-btn
{
  margin-left: -25%;
  font-size: 40px;
  margin-top: 35px;
}
#crearPlantilla
{
  margin-left: 10%;
  margin-top: -75px;
}
}
@media(max-width: 569px)
{
  #tamañoLet
  {
    font-size: 25px;
  }
  #crearPlantilla
  {
    margin-top: -70px;
  }
}

@media(max-width: 500px)
{
  #tamañoLet
  {
    font-size: 20px;
  }
  #content-btn
  {
    font-size: 30px;
  }
  #crearPlantilla
  {
    margin-top: -60px;
  }
}

@media(max-width: 436px)
{
  #content-btn
  {
margin-left: 19px;
margin-top: 26px;
  }
  #crearPlantilla
  {
    margin-top: -30px;
    margin-left: 0;
  }
}


@media(max-width: 401px)
{


    #btn-añadir
    {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  .card
  {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media(max-width: 336px)
{
  .card{
width: 98%;
margin-left: 1%;
margin-right: 1%;

  }
}

@media(max-width: 300px)
{
#btn_edit,#btn_prev,#btn_delete, #btn_pub, #btn_dup,#btn_prevPub, #btn_rec
{
  font-size: 10px;
  padding-left: 10px;
}
#titP2,#titP1
{
  font-size: 15px;
}
#fb
{
width: 20px;
height: 20px;
}
#tw
{
width: 20px;
height: 20px;
}

#btn-añadir
{
  width: 98%;
margin-left: 1%;
}
#content-btn
{
  margin-left: 15px;
}

}

@media(max-width: 280px)
{
  #container, #panel1, #panel
  {
    width: 250px;
    margin-left: 0;
  }
#sidebarMobile
{
  width: 250px;
}

}


/* ############################################################ media querys #####################################  */
