#aPlantilla
{
  width: 100%;
  background-color: red;
  border: 1px solid black;

}

td
{

  background-color: blue;
  border: 10px solid black;
}


#foto1
{
  width: 200px;
}

#nombre{

  width: 100%;
  height: 100%;
  margin-top: -4px;
  border-radius: 4px;
  position: relative;
}


.container
{
  width: 100%;
}
.descGeneral{
  left: 35%;
  position:absolute;
  width: 43%;
  margin-top:180px;
}

.sep{
width: auto;
height: 150px;
}
.cuadro
{
  position: absolute;
  display: inline-block;
margin-top: -50px;
height:auto;
width: 100%;
margin-left: 2px;
}

.activa{

width: auto;
margin-right: 47px;
display: inline-block;
}

.finalizada
{
  display: inline-block;

  width: auto;
}

.redes
{

display: inline-block;
position: relative;
height: auto;
width: 140px;
margin-top: 3px;
}
.let
{
  margin-top: 10px;

    display: inline-block;
    width: 60%;
    float: right;

}
.btnOcultar
{

  display: inline-block;
  margin-left: 12px;
}
#btn-añadir
{
  width: 240px;
  height: 240px;

  background: rgba(37,66,118,1);
background: -moz-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(37,66,118,1)), color-stop(51%, rgba(42,76,135,1)), color-stop(100%, rgba(47,85,151,1)));
background: -webkit-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: -o-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
background: linear-gradient(135deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#254276', endColorstr='#2f5597', GradientType=1 );

-moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;

margin-bottom: 20px;
margin-left: 1%;
margin-top: 1px;
margin-right: 0;

display: inline-block;
-webkit-box-shadow: -2px 3px 33px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 33px -3px rgba(0,0,0,0.75);
box-shadow: -2px 3px 33px -3px rgba(0,0,0,0.75);

position: relative;

}
#btn-añadir:hover
{
  cursor: pointer;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/load/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

#procesando {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/load/procesando.gif') 50% 50% no-repeat rgba(249,249,249,0.5);
    opacity: .8;
    display: none;
}

#icono
{
  width: 100px;
  height: 100px;
}

#content-btn
{
  margin-top: 40px;
  margin-left: -12px;
width: 240px;

font-size: 50px;
text-align: center;
color: #fff;
}
/*
.card
{
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 2%;
  padding-left: 0px;
  margin-top: 1%;
  padding-top: 0.5%;
  background-color: #DFDCE3;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid gray;

}*/
.card2
{
width: 230px;
height: 240px;
text-align: center;
border: 3px solid gray;
border-radius: 10px;
margin-left: 30px;
margin-bottom: 2%;
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
}

#crearPlantilla
{
width: 100%;
color: #fff;
position: relative;
text-align: center;
}

#marco
{
margin-top: 0%;
border-radius: 2px;
width: 100%;
height: auto;
border-radius: 33px 33px 33px 33px;
-moz-border-radius: 33px 33px 33px 33px;
-webkit-border-radius: 33px 33px 33px 33px;
}
.pub-icon
{
width: 100%;
height: 135px;


}
.creador
{
width: 80%;
height: 30%;
text-align: center;
  color: #000;
font-family: fantasy;
}

.card
{
background-position: center;
background-repeat: no-repeat;
background-size: contain;
display: inline-block;
width: 240px;
height: 240px;
border-radius: 3px;
margin-left: 1%;
margin-bottom: 2%;
padding-left: 0px;
background-color: #DFDCE3;
margin-top: 1%;
padding-top: 0.5%;
}

#btn_edit,#btn_prev,#btn_delete, #btn_pub, #btn_dup{
text-align: center;
background-color: rgba(0, 0, 0, 0.6);
opacity: 0.7;
height:  14%;
width: 14%;
border-radius: 5px;
margin-left: 4%;
margin-top: 1%;

}

.ic
{

vertical-align: top;
height: 100%;
margin-left: -6px;
width: 100%;
color: #fff;
}



/*
#btn_edit #btn_prev #btn_delete #btn_pub #btn_dup{
text-align: center;
background-color: black;

height:  14%;
width: 14%;

border-radius: 5px;
display: inline-block;

margin-left: 4%;
margin-top: 1%;

background-color: black;


}*/






/*Botones de encustas publicadas */
#btn_prevPub, #btn_rec
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  height:  14%;
  width: 14%;
  border-radius: 5px;
  margin-left: 4%;
  margin-top: 1%;
}
#title
{

  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  height: 22%;
word-break: break-all;
word-wrap: break-word;
position: relative;
text-align: center;
}
#ver
{
width: 100%;
height: 22%;
background-color: rgba(0,0,0,0.6);
margin-top: 78%;
position: absolute;
}
#ver2
{
  width: 80%;
  height: 30px;
opacity: 0.5;
background-color: white;
margin-top: 10px;
margin-left: 10%;
position: absolute;
}



.scroll{
width: 90%;
height: 400px;
overflow-y: scroll;
}


#btnO:hover
{

cursor: pointer;
}
#btnOp:hover
{
  cursor: pointer;
}
#divisor
{
margin-left: 200px;
margin-top: -15px;
position: relative;
}


#publicadas
{
  width: 400px;
}
#pBody
{
  width: 100%;
}

#pPBody
{
  width: 100%;
}
.CCperfil
{
  position: absolute;
  margin-left: 50%;
}
.CCperfil
{
  width: 400px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
box-shadow: 0 0 15px #ddd;
position: relative;
display: inline-block;
color: #fff;
}
.Cperfil
{
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-left: 10px;
  border-radius: 10px;
box-shadow: 0 0 15px #ddd;
background:rgb(0,0,255);
position: relative;
display: inline-block;
color: #fff;
}
.cuadroPerfilSup
{

  background: rgba(37,66,118,1);
  background: -moz-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(37,66,118,1)), color-stop(51%, rgba(42,76,135,1)), color-stop(100%, rgba(47,85,151,1)));
  background: -webkit-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  background: linear-gradient(135deg, rgba(37,66,118,1) 0%, rgba(42,76,135,1) 51%, rgba(47,85,151,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#254276', endColorstr='#2f5597', GradientType=1 );
  width: 480px;
  height: 100px;
  z-index: -1;
  border-radius: 30px;
  margin-top: 25px;

  position: relative;
  margin-left: 100px;
  display: inline-block;
}
.eng
{
  color: white;
  position: relative;
  margin-left: 100px;
  font-size: 30px;
}
#content{
  width: 380px;
  float: right;
  text-align: right;
  color: white;
  margin-right: 20px;
  margin-top: -40px;
  border-radius: 10px;
  overflow: hidden;
  height: 80%;
  font-size: 20px;
  font-family: fantasy;
}
.nombre{
height: 40px;
text-align:right;
overflow: hidden;
}
.correo
{
  overflow: hidden;
  height: 40px;
  text-align:right;
  overflow: hidden;

}
.circle {
    width: 130px;
    height: 130px;
    top: 10px;
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;

}
.circle:hover
{
  cursor: pointer;
}
.supSide
{
  position: absolute;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);

}

#texto
{
width: 200px;
overflow: hidden;
  color: #fff;
  margin-left: 90px;

}
#actualizar
{
width: 100%
}
/* Media querys */
@media (max-width: 1125px) {
.let
{
  width: 70%;
}

}

@media (max-width: 1125px) {
.let{
  width: 70%;
}
.activa
{
margin-right: 30px;
}
}

@media(max-width: 1091px)
{
  #recibiendo
  {
    position: absolute;
      left: 50%;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);

  }

#btn-añadir
{
  width: 400px;
  height: 120px;
  border-radius: 70px;
  margin-left: 200px;
}

#crearPlantilla
{
  margin-top: -80px;
  width: 300px;
  margin-left: -20px;

}
#actualizar
{
  margin-left: 33%;
  width: 200px;
}

}


@media (max-width: 1070px) {

.activa
{
margin-right: 20px;
}

}

@media (max-width: 1037px)
{
  .cuadro
{
margin-left: 20px;

width: 90%;
}
.redes{
  width: 30%;
}
.let
{
margin-top: 0px;
}
#infVer
{
  margin-right: -20px;
}
.activa
{

  width: 70px;
}
.finalizada
{
width: 70px;
}
.btnOcultar
{
margin-top: 10px;
margin-left: 10%;
position: absolute;
}
}



@media (max-width: 991px) {
  #btn-añadir
  {
    width: 400px;
    height: 120px;
  border-radius: 150px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 43px;
  margin-top: 4%;
  position: relative;
  }


  #crearPlantilla
  {

  font-size: 80px;
  width: 400px;
  margin-top: -85px;
  margin-left: -50px;
  color: #fff;
  }
  #actualizar
  {
    margin-left: 30%;
  }

.cuadro
{
  margin-left: -400px;
  width: 430px;
}
.redes
{
  width: 120px;
}
#btnF
{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 50px;
  margin-top: -55px;
}
#btnT
{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 0px;
}
.activa
{
  width: 50px;
  margin-left: 40px;
}
.infoVer
{

width: 40px;
height: auto;
display: inline-block;
}

#Epublicadas
{
  width: 200px;
}

.cuadro
{
  margin-top: -60px;
}
.descGeneral{
  left: 43%;
}


}
@media (max-width: 854px) {
  #Epublicadas
  {
    width: 100%;
    text-align: center;
    height: auto;
  }
.cuadro
{
  position: relative;
  margin-top: 0px;
  margin-right: 70px;
  margin-left: 55px;
}

}
/*Aqí me quedué continuar con  los querys desde aqui...... */

  @media (max-width: 847px) {

    #btn-añadir
    {
      margin-left: 10%;
    }
  }



  @media (max-width: 767px) {
  .container
  {
  margin-left: 0px;
  }
  #actualizar
  {
    margin-left: 20%;
  }
  .sep{
        display: none;
    }
    .cuadro
    {
    display: block;
    margin-right: 150px;
    margin-left: 300px;
      }
  #panel1{
    margin-top: 100px;
  }

  }

@media (max-width: 700px)
{
  .cuadro
  {
    margin-left: 10px;
    margin-right: 100px;
  }
}


@media (max-width: 600px)
{
  .container{
    margin-left: 0px;
    width: 100%;
  }
  }
@media (max-width: 590px)
{
  .cuadro{
    margin-left: 10%;
  }
}

@media (max-width: 545px)
{
.cuadro
{
  margin-left: 15%;
}
}

@media (max-width: 505px)
{
  .cuadro
  {
    margin-left: 17%;
  }
}

  @media (max-width: 500px)
  {
    #btn-añadir
    {
      width: 250px;
    }

    #crearPlantilla
    {
      width: 40px;
      margin-top: -77px;
    }
    #actualizar
    {
      margin-left: 10%;
    }

    .cuadro
    {
      margin-left: -40px;
    }
    #btnF
    {
      margin-top: -37px;
    }
    #btnT{
      margin-top: 10px;
    }

}



  @media (max-width: 500px)
  {
    #btn-añadir
    {
      height: 100px;
      margin-left: 7%;
      width: 300px;
      height: 80px;
    }

    #actualizar
    {
      margin-left: 10%;
    }
    .container
    {
      margin-left: -10px;
    }
#panel
{
  margin-left: 20px;
}
#panel1
{
  margin-left: 20px;
}
#colinf
{
  width: 90%;
  margin-left: 40px;
}

#crearPlantilla
{
  margin-top: 10px;
  margin-left: -50px;
  width: 300px;
}
#tamañoLet
{
  font-size: 30px;
}
#actualizar
{
margin-left: 3%;
}

#btn-añadir
{

  width: 280px;

}

.panel-heading
{
width: 100%;
}
#infob{
width: 400px;
font-size: 10px;
}
#recibiendo
{
  margin-left: 5%;
}
#btnF{
width: 20px;
height: 20px;
}
#btnT{
height: 20px;
width: 20px;
}
#publicadas
{
  display: none;
}
#divisor
{
  display: none;
}

}

@media(max-width: 490px)
{
.cuadro
{
  margin-left: -37px;
}
}

@media(max-width: 360px)
{

  #recibiendo
  {
    height: 270px;
  margin-left: -10px;
    overflow: scroll;
  }
  #pPBody
{
  height: 280px;
  overflow: scroll;
}
.cuadro {
  margin-left: 170px;
  width: auto;
}

.let
{
  width: 280px;
  margin-right:  -70px;
}
.activa
{
  margin-left: 20px;
}
.redes
{
  margin-left: 0px;
  width: 100%;
}
.activa
{
  width: auto;

}
.finalizada{
  width: auto;
}
#infVer
{
  width: auto;
}
.btnOcultar
{
  margin-left: 70px;
  margin-top: 0px;
}
}



/* media querys  */
